{% block sw_order_state_change_modal_attach_documents_button_wrapper %}
    <div class="sw-order-state-change-modal-attach-documents__button-wrapper">
        <div>
            {% block sw_order_state_change_modal_attach_documents_send_mail_switch %}
                <sw-field class="sw-order-state-change-modal-attach-documents__switch"
                          type="switch"
                          :label="$tc('sw-order.stateCard.labelSendMailSwitch')"
                          v-model="sendMail"
                          @change="onConfirm">
                </sw-field>
            {% endblock %}
        </div>

        {% block sw_order_state_change_modal_attach_documents_button %}
            <sw-button class="sw-order-state-change-modal-assign-mail-template__button"
                       variant="primary"
                       v-if="!sendMail"
                       size="small"
                       @click="onConfirmNoMail">
                {{ $tc('sui.ordermail.update') }}
            </sw-button>
        {% endblock %}
    </div>
{% endblock %}
